.b01Navigation {
  position: relative;
  background: $colorLightBlack;
  width: 100%;
  height: 80px;

  .container {
    @include size(100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 80px;
  }

  .links {
    display: flex;
  }

  .link {
    &:not(:first-child) {
      margin-left: 16px;
    }
  }

  // @include respond-to("MIN_768") {
  // }
}
