html {
  font-family: $baseFont;
  font-weight: $mediumWeight;
  font-size: 10px;
  color: $colorWhite;
  background: $colorDarkBlack;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}

#__next {
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &,
  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }

  &:focus-visible {
    outline: 1px dotted blue;
  }
}

button {
  padding: 0;
  border: 0;
  background: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}
