@mixin heading-1 {
  font-family: $baseFontBold;
  font-size: 5rem;
  line-height: (54/50);
  font-weight: $boldWeight;

  @include respond-to(MIN_1200) {
    font-size: fluid-font-size(74); // 7.4rem
    line-height: (86/74);
  }

  @include respond-to(MIN_1440) {
    font-size: 7.4rem;
  }
}

@mixin heading-2 {
  font-family: $baseFontBold;
  font-size: 2rem;
  line-height: (24/20);
  font-weight: $boldWeight;

  @include respond-to(MIN_1200) {
    font-size: fluid-font-size(27); // 2.7rem
    line-height: (31/27);
  }

  @include respond-to(MIN_1440) {
    font-size: 2.7rem;
  }
}

@mixin heading-3 {
  font-family: $baseFontBold;
  font-size: 1.5rem;
  line-height: (18/15);
  font-weight: $boldWeight;

  @include respond-to(MIN_1200) {
    font-size: fluid-font-size(15); // 1.5rem
    line-height: (18/15);
  }

  @include respond-to(MIN_1440) {
    font-size: 1.5rem;
  }
}

@mixin heading-4 {
  // Add heading 4 style
}

@mixin heading-5 {
  // Add heading 5 style
}

@mixin heading-6 {
  // Add heading 6 style
}
